PORT=5000
NODE_ENV=development

# Get this from MongoDB Atlas -> Connect -> Drivers
MONGO_URI="mongodb://amarschool_admin:LFB90BBStnsLbic2@ac-dfuwxvc-shard-00-00.f2v0tqr.mongodb.net:27017,ac-dfuwxvc-shard-00-01.f2v0tqr.mongodb.net:27017,ac-dfuwxvc-shard-00-02.f2v0tqr.mongodb.net:27017/?ssl=true&replicaSet=atlas-jzhht2-shard-0&authSource=admin&appName=Cluster0"
# Any long random string
JWT_SECRET=ektaonekbororandomstring
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:3000

# Gmail address + an "App Password" (not your normal Gmail password)
EMAIL_USER=syed.hasib0288@gmail.com
EMAIL_PASS=ownjenjfvfsefvmh

# Used once by the seed script to create the first Super Admin
SUPERADMIN_NAME=Super Admin
SUPERADMIN_EMAIL=superadmin@amarschool.com
SUPERADMIN_PASSWORD=admin123
